transformers==4.44.2
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
datasets==4.8.4
accelerate==1.13.0
flash_attn==2.8.3
numpy==2.2.6
pandas==2.3.3
evaluate==0.4.6
sentencepiece==0.2.1
jieba==0.42.1
rouge==1.0.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.3
protobuf==7.34.1
matplotlib==3.10.8
seaborn==0.13.2
modelscope==1.35.3
